body
  margin 0

.container
  background-color #f6f6ef

a
  text-decoration none

.title-bar
  display flex
  position relative
  align-items center
  justify-content space-between
  background-color #ff6600
  height 44px

  a
    color black
    padding 0px 8px

  a:hover
    color white

.searchbar-wrapper
  margin-right 15px

  button
    background-color rgb(215, 73, 55)
    border none

  button:hover
    cursor pointer

  input
    border none

.posts-list
  width 100%
  display flex
  flex-direction column

.posts-list-item
  display flex
  align-items center
  padding-top 0.3em
  padding-bottom 0.3em

  a
    color grey
    font-size 16px

.posts-list-item:nth-child(even)
  background-color rgb(230, 230, 223)

.posts-list-item-score
  margin-left 0.5em
  margin-right 0.5em

.posts-list-item-title
  display flex

.posts-list-item-by
  font-size 0.75em
  margin-left 0.5em
  margin-right 0.5em

.posts-list-item-user
  font-size 1em
  margin-right 0.4em

.content
  display flex
  justify-content center
  margin 21px 8px

.user-placeholder
  display flex
  flex-direction column
  width 50%
  align-items center
  margin-top 2em

.user-placeholder-inner-wrapper
  display flex
  flex-direction column
  width 100%
  height 50%
  margin-top 2em

.user-placeholder-name
  width 30%
  height 1.8em
  background-color rgb(230, 230, 223)
  margin-bottom 1.5em

.user-placeholder-karma
  width 10%
  height 0.8em
  background-color rgb(230, 230, 223)
  margin-bottom 1.5em

.user-placeholder-story
  width 10%
  height 0.8em
  background-color rgb(230, 230, 223)
  margin-bottom 0.5em

.user-placeholder-comment
  width 30%
  height 1.8em
  background-color rgb(230, 230, 223)
  margin-bottom 0.5em

.user
  display flex

.item-placeholder
  display flex
  flex-direction column
  align-items center
  width 100%
  height 50%
  margin-top 2em

.item-placeholder-header
  width 30%
  height 1.8em
  background-color rgb(230, 230, 223)

.item-placeholder-subheader
  width 20%
  height 1em
  background-color rgb(230, 230, 223)
  margin-top 0.4em
  margin-bottom 0.4em

.item-placeholder-content
  width 75%
  height 5em
  background-color rgb(230, 230, 223)
  margin-top 0.4em
  margin-bottom 0.4em

.item
  display flex
  flex-direction column
  align-items center
  margin-top 2em

.item-title
  text-decoration none
  color grey
  font-size 1.3em

.item-subtitle
  display flex
  margin-top 0.4em

.item-subtitle-user-info
  margin-right 0.3em

.user-header
  display flex
  justify-content center
  flex-direction column

  h3
    margin-top 0

.comment
  margin-bottom 1em
  margin-top 1em

  .comment
    margin-left 30px

.comment-sub-header
  display flex

.comment-sub-header-user
  margin-right 0.3em

.show-hide
  margin-left 0.2em

.show-hide:hover
  cursor pointer

.cover
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  background-color white
  display flex
  align-items center
  justify-content center

.circle
  display flex
  border-top .1em solid grey
  border-radius 50%
  z-index 100
  height 6em
  width 6em
  animation spin 2s linear infinite

.story-placeholder
  display flex
  flex-direction column

.story-placeholder.story-placeholder
  margin-bottom 1em

.story-placeholder-bar
  display flex
  width 728.969px
  height 18px

.comment-placeholder-wrapper
  margin-bottom 1em

.comment-placeholder-header
  width 10%
  height 1em
  background-color rgb(230, 230, 223)
  margin-bottom 1em

.comment-placeholder
  height 5em
  background-color rgb(230, 230, 223)
  width 50%

.comment-placeholder-wrapper:nth-child(even)
  margin-left 30px
  margin-bottom 15px

.pagination-button
  border none
  background-color #f6f6ef
  color orange

.pagination-button:hover
  cursor pointer
  text-decoration underline
