.title-bar
  display: flex
  justify-content: space-around

  a
    text-decoration: none
    color: grey

.links
  width: 100%

.link
  display: flex
  justify-content: space-between
  border: 2px solid black
  text-align: center

.content
  display: flex
  width: 100%
  justify-content: center

.test
  display: flex

.item-title
  text-decoration: none
  color: grey
  font-size: 1.3em