.user-placeholder
  display flex
  flex-direction column
  width 50%
  align-items center
  margin-top 2em

.user-placeholder-inner-wrapper
  display flex
  flex-direction column
  width 100%
  height 50%
  margin-top 2em

.user-placeholder-name
  width 30%
  height 1.8em
  background-color rgb(230, 230, 223)
  margin-bottom 1.5em

.user-placeholder-karma
  width 10%
  height 0.8em
  background-color rgb(230, 230, 223)
  margin-bottom 1.5em

.user-placeholder-story
  width 10%
  height 0.8em
  background-color rgb(230, 230, 223)
  margin-bottom 0.5em

.user-placeholder-comment
  width 30%
  height 1.8em
  background-color rgb(230, 230, 223)
  margin-bottom 0.5em
