.item
  display flex
  flex-direction column
  align-items center
  margin-top 2em
  max-width 100%

.item-title
  text-decoration none
  font-size 1.3em
  color black

.item-subtitle
  display flex
  margin-top 0.4em
  color grey

  a
    color grey

.item-subtitle-user-info
  margin-right 0.3em

.item-text
  display flex
  flex-direction column

.comment-list
  max-width 100%

  div
    display flex
    flex-direction column
    max-width 100%
