@import "../../media-query-variables"

.title-bar
  display flex
  position relative
  align-items center
  justify-content space-between
  background-color #ff6600
  height 3em

  a
    color black
    padding 0px 8px

  a:hover
    color white

@media mobileMaxWidthQuery
  .title-bar
    flex-direction column
    height 4em