.title-bar
  display flex
  position relative
  align-items center
  justify-content space-between
  background-color #ff6600
  height 44px

  a
    color black
    padding 0px 8px

  a:hover
    color white
