.comment-placeholder-wrapper
  margin-bottom 1em

.comment-placeholder-header
  width 10%
  height 1em
  background-color rgb(230, 230, 223)
  margin-bottom 1em

.comment-placeholder
  height 5em
  background-color rgb(230, 230, 223)
  width 50%

.comment-placeholder-wrapper:nth-child(even)
  margin-left 30px
  margin-bottom 15px
