@import "../../media-query-variables.styl"
.searchbar-wrapper
  form
    display flex
    flex-direction row
    width 100%

    select
      margin-left 0.5em
      margin-right 0.5em
      border none

    input
      border none
      margin-left 0.5em
      margin-right 0.5em
      background-image url('http://cliparts.co/cliparts/rTL/n8R/rTLn8RLBc.png')
      background-size 1em
      background-repeat no-repeat
      background-position right

@media mobileMaxWidthQuery
  .searchbar-wrapper
    margin-top 0.3em
    margin-bottom 0.3em
    width 100%

    form
      display flex
      flex-direction column
      align-items center
      input
        height 1em

  .select-wrapper
    display flex
    justify-content center
    margin-top 0.2em
