.posts-list-item
  display flex
  align-items center
  padding-top 0.3em
  padding-bottom 0.3em

.posts-list-item:nth-child(even)
  background-color rgb(230, 230, 223)

.posts-list-item-score
  margin-left 0.5em
  min-width 2em

.posts-list-item-title
  display flex
  color black
  font-size 16px

.posts-list-item-by
  font-size 0.75em
  margin-left 0.5em
  margin-right 0.5em
  color #828282  

.posts-list-item-user
  font-size 0.75em
  margin-right 0.4em
  color #828282

.posts-list-item-date
  min-width 4em
  color #828282
  font-size 0.75em
    