.posts-list-item
  display flex
  align-items center
  padding-top 0.3em
  padding-bottom 0.3em

  a
    color grey
    font-size 16px

.posts-list-item:nth-child(even)
  background-color rgb(230, 230, 223)

.posts-list-item-score
  margin-left 0.5em
  margin-right 0.5em

.posts-list-item-title
  display flex

.posts-list-item-by
  font-size 0.75em
  margin-left 0.5em
  margin-right 0.5em

.posts-list-item-user
  font-size 1em
  margin-right 0.4em
